html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

/*this is important to give the map a height*/
#map {
  height: calc(100vh - 150px); /* Adjust the height of the map, considering the navbar height */
  width: 100%;
  z-index: 0;
}
